{{#if short}}
  {{#if expanded}}
    {{#if maxLength}}
      <span class="fight-space">{{short}}</span>
    {{else}}
      <span class="fight-space">{{yield}}</span>
    {{/if}}
  {{else}}
    <span class="fight-space">{{{if shortened shortened short}}}{{if dots dotsDisplay}}</span>
  {{/if}}
{{else}}
  {{yield}}
{{/if}}
{{{if dash '&nbsp;-&nbsp;'}}}
{{if additional additional}}
{{#if comma}}
  <span class="fight-space">,</span>
{{/if}}
