<div class="large-6 large-offset-3 columns">
  <label>
    {{input value=search type='text' class='filter-apps' placeholder='search by application name...'}}
  </label>
</div>
<hr/>
<em class="tags">TAGS</em>
<ul class="tags noselect">
  {{#each model.tags key='id' as |tag|}}
    <li class="label cursor-pointer {{if tag.active 'success'}}" title='show applications tagged "{{tag.id}}"' {{action 'selectTag' tag}}>
      {{tag.id}}
      <span class="apps-count" title="number of applications linked with this tag">{{tag.apps.length}}</span>
    </li>
  {{/each}}
</ul>
<hr/>
<ul class="applications">
  {{#each filteredApps key='id' as |app|}}
    <li>
      {{#if app.latest}}
        <div class="ribbon ribbon-black">
          <div class="banner">
            <div class="text">LATEST <i class="fa fa-diamond topped-image"></i></div>
          </div>
        </div>
      {{/if}}
      {{#link-to 'apps.view' app.id}}
        {{#if app.smallImage}}
          <img src="{{app.smallImage}}"/>
        {{else}}
          <div class="no-image"><i class="fa fa-times"></i></div>
        {{/if}}
        {{#if app.added}}
          {{#animated-caption added=app.added class='image-caption'}}
            <i class="fa fa-eye"></i>
          {{/animated-caption}}
        {{/if}}
      {{/link-to}}
      <div class="body">
        <header>{{#link-to 'apps.view' app.id title="application's name"}}{{highlight-match bold=search first=app.name}}{{/link-to}}</header>
        <div class="description" title="application's description">{{app.description}}</div>
        <footer>
          <ul class="noselect">
            {{#each app.tagsSorted key='id' as |tag|}}
              <li class="label {{if tag.active 'success'}}" title={{tag.description}}>{{tag.id}}</li>
            {{/each}}
          </ul>
          {{#if app.link}}
            <a class="right app-link" href={{app.link}} target="_blank" title="visit page in new tab">
              {{expanding-description short=app.link maxLength=44 tagName='span' disableExpand=true}}
            </a>
          {{/if}}
        </footer>
      </div>
    </li>
  {{/each}}
</ul>
