<div class="large-9 columns margin-auto below-menu app-view">
  <header class="font-size-44 text-left">
    {{model.name}}
    <span class="right gray-3 see-through-bordered">{{time-ago time=model.added title='added'}}</span>
  </header>
  <div class="panel-contents">
    {{#if model.videoOrImages}}
      <ul class="tab-switches">
        <li>
          {{#if model.video}}
            {{#if showVideo}}
              <iframe width="60%" height="440px" src="https://www.youtube.com/embed/{{model.video.id}}" frameborder="0" allowfullscreen></iframe>
            {{else}}
              <a class="button detailed-button yt-tile see-through-bordered" title="show video" href="https://www.youtube.com/watch?v={{model.video.id}}" target="_blank">
                <img src="https://i1.ytimg.com/vi/{{model.video.id}}/default.jpg" />
                <i class="fa fa-youtube"></i>
              </a>
            {{/if}}
          {{/if}}
        </li>
        {{#if model.images}}
          <li>
            <button class="detailed-button see-through-bordered" title="show images" {{action 'showImages'}}>
              <div class="tile-gallery">
                {{#each model.images key='id' as |img|}}
                  <img src={{img.id}} />
                {{/each}}
              </div>
              <i class="fa fa-camera-retro"></i>
            </button>
          </li>
        {{/if}}
        {{#if model.link}}
          <li>
            <a href={{model.link}} target="_blank" title="visit page in new tab" class="button detailed-button yt-tile see-through-bordered">
              <i class="fa fa-external-link-square"></i>
            </a>
          </li>
        {{/if}}
      </ul>
    {{/if}}
    <ul class="inline-bottom">
      {{#each model.tagsSorted key='id' as |tag|}}
        {{tag-display model=tag}}
      {{/each}}
    </ul>
    {{#if model.description}}
      <span class="gray-3 text-left see-through-bordered">
        {{model.description}}
      </span>
    {{/if}}
  </div>
</div>
