<div class="large-9 columns application-detailed margin-auto below-menu">
  {{#if model.latest}}
    <div class="ribbon ribbon-black">
      <div class="banner">
        <div class="text">LATEST <i class="fa fa-diamond topped-image"></i></div>
      </div>
    </div>
  {{/if}}
  <div>
    <header class="font-size-44">{{model.name}}</header>
    {{#if model.video}}
      {{#if showVideo}}
        <iframe width="60%" height="440px" src="https://www.youtube.com/embed/{{model.video.id}}" frameborder="0" allowfullscreen></iframe>
      {{else}}
        <button class="detailed-button" title="show video" {{action 'showVideo'}}>
          <i class="fa fa-youtube"></i>
        </button>
      {{/if}}
    {{/if}}
    {{#if model.images}}
      <button class="detailed-button" title="show images" {{action 'showImages'}}>
        <i class="fa fa-camera-retro"></i>
      </button>
    {{/if}}
    <div>
      <ul class="inline-bottom">
        {{#each model.tagsSorted key='id' as |tag|}}
          <li class="label">{{tag.id}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
