<ul class="timeline">
  {{#each model key='id' as |experience|}}
    <li>
      <div class="card">
        <header><a href={{experience.link}} target="_blank">{{experience.title}}</a></header>
        <div class="main">{{experience.description}}</div>
        <div class="bottom">
          {{#if experience.coverImage}}
            <div class="cover-container">
              <img src={{experience.coverImage}} class="card-cover" />
            </div>
          {{/if}}
          {{#each experience.tagsSorted as |tag|}}
            {{tag-display model=tag tagName='span'}}
          {{/each}}
          <div class="time-info">{{experience.dateString}}</div>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
