<div class="icon-bar four-up noselect">
  {{#link-to 'home' class='item'}}
    {{fa-icon 'home'}}
    <label>Home</label>
  {{/link-to}}
  <a href="/blog" class="item">
    {{fa-icon 'book'}}
    <label>Blog</label>
  </a>
  {{#link-to 'apps' class='item'}}
    {{fa-icon 'desktop'}}
    <label>Projects</label>
  {{/link-to}}
  {{#link-to 'contact' class='item'}}
    {{fa-icon 'envelope-o'}}
    <label>Contact</label>
  {{/link-to}}
</div>

<main class="row full">
  {{outlet 'body-child'}}
  {{outlet}}
</main>

<footer class="main">
  <ul>
    <li><a href="https://stackoverflow.com/cv/danielkmak" target="_blank" class="noselect">so developer cv <i class="fa fa-external-link-square"></i></a></li>
    <li><a href="https://linkedin.com/in/kmakdaniel" target="_blank" class="noselect">linkedin <i class="fa fa-external-link-square"></i></a></li>
  </ul>
</footer>

{{outlet 'body-direct'}}
