<div class="icon-bar vertical four-up vertical-menu">
  {{#link-to 'home' class='item'}}
    {{unbound fa-icon 'home'}}
    <label>Home</label>
  {{/link-to}}
  <a class="item">
    {{unbound fa-icon 'info'}}
    <label>Info</label>
  </a>
  <a class="item">
    {{unbound fa-icon 'desktop'}}
    <label>Applications</label>
  </a>
  <a class="item">
    {{unbound fa-icon 'envelope-o'}}
    <label>Contact</label>
  </a>
</div>

<main class="row full">
  {{outlet}}
</main>