<div class="icon-bar four-up noselect">
  {{#link-to 'home' class='item'}}
    {{unbound fa-icon 'home'}}
    <label>Home</label>
  {{/link-to}}
  {{#link-to 'about' class='item'}}
    {{unbound fa-icon 'user'}}
    <label>About me</label>
  {{/link-to}}
  {{#link-to 'apps' class='item'}}
    {{unbound fa-icon 'desktop'}}
    <label>Applications</label>
  {{/link-to}}
  {{#link-to 'contact' class='item'}}
    {{unbound fa-icon 'envelope-o'}}
    <label>Contact</label>
  {{/link-to}}
</div>

<main class="row full">
  {{outlet}}
  {{!liquid-outlet use='crossFade'}}
</main>

<footer class="main">
  <ul>
    <li><a href="http://careers.stackoverflow.com/kuzi" target="_blank">so careers profile <i class="fa fa-external-link-square"></i></a></li>
  </ul>
</footer>
