<div class="icon-bar four-up noselect">
  {{#link-to 'home' class='item'}}
    {{unbound (fa-icon 'home')}}
    <label>Home</label>
  {{/link-to}}
  {{#link-to 'about' class='item'}}
    {{unbound (fa-icon 'user')}}
    <label>About me</label>
  {{/link-to}}
  {{#link-to 'apps' class='item'}}
    {{unbound (fa-icon 'desktop')}}
    <label>Projects</label>
  {{/link-to}}
  {{#link-to 'contact' class='item'}}
    {{unbound (fa-icon 'envelope-o')}}
    <label>Contact</label>
  {{/link-to}}
</div>

<main class="row full">
  {{outlet 'body-child'}}
  {{outlet}}
  {{!liquid-outlet use='crossFade'}}
</main>

<footer class="main">
  <ul>
    <li><a href="http://stackoverflow.com/cv/kuzi" target="_blank" class="noselect">so developer cv <i class="fa fa-external-link-square"></i></a></li>
    <li><a href="https://pl.linkedin.com/in/kmakdaniel" target="_blank" class="noselect">linkedin <i class="fa fa-external-link-square"></i></a></li>
  </ul>
</footer>

{{outlet 'body-direct'}}
