<div class="icon-bar four-up noselect">
  {{#link-to 'home' class='item'}}
    {{fa-icon 'home'}}
    <label>Home</label>
  {{/link-to}}
  <a href="https://github.com/kuzirashi" class="item">
    {{fa-icon 'book'}}
    <label>GitHub</label>
  </a>
  <a href="https://linkedin.com/in/kmakdaniel" class="item">
    {{fa-icon 'desktop'}}
    <label>LinkedIn</label>
  </a>
  {{#link-to 'contact' class='item'}}
    {{fa-icon 'envelope-o'}}
    <label>Contact</label>
  {{/link-to}}
</div>

<main class="row full">
  {{outlet 'body-child'}}
  {{outlet}}
</main>

{{outlet 'body-direct'}}
